.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}


html body {
    background-color: #F7FAFD;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 108px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #004E64;
    align-content: center;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#logo {
    font-family: SwedieCruel;
    font-size: 80px;
    color: #FFF;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    padding: 5px 10px 5px 50px;
    flex-grow: 1;
}

#navigation {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    display: flex;
    flex-grow: 3;
    position: relative;
    padding: 0px;
}

#navigation_li {
    vertical-align: top;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.2s linear;
    list-style-type: none;
    flex-grow: 3;
    margin: 0px 25px;
}

nav {
    display: flex;
    flex-grow: 3;
}

/* SearchBox */

#search_box {
    background: transparent;
    position: relative;
    padding: 0 50px 0 0;
    flex-grow: 1;
}

#search_box form {
    width: auto;
    float: right;
    margin-right: 0;
}

#search_box input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 3px solid #77B3D4;
    background: hwb(0 100% 0%);
    outline: none;
    position: relative;
    transition: 0.3s linear;
}

#search_box input:focus {
    width: 300;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -0;
    height: 200px;
    min-width: 100%;
    min-height: 0px;
    flex-shrink: 0;
    background: linear-gradient(to top, #004E64, 30%, transparent),
    url(../images/Igdrasil.png) center no-repeat;
    background-size: cover;
  }

.banner-title {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    font-size: 130px;
    padding-top: 20px;
    font-family: SwedieCruel;
    color: #FFF;
}
#page_info_wrap {
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-top: 40px;
    justify-content: space-evenly;
}
#stick {
    background: url("../images/stick.png") center no-repeat;
    width:100px;
    height:100px;
}
#page_info_text {
    max-width:600px;
    word-break: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 20px;
}
#page_info_heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 43px;
}
#shortcut_block {
    display: flex;
    flex-direction: column
}
#shortcut1_img {
    background: url("../images/forest.png") center no-repeat;
    width:250px;
    height:140px;
}
#shortcut2_img {
    background: url("../images/ship.png") center no-repeat;
    width:250px;
    height:140px;
}
#shortcut3_img {
    background: url("../images/tourist.png") center no-repeat;
    width:250px;
    height:140px;
}
#shortcut4_img {
    background: url("../images/history.png") center no-repeat;
    width:250px;
    height:140px;
}
#shortcut_text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 15px;
    word-break: normal;
    max-width:250px;
}
#footer_ul{
    text-decoration: none;
    list-style-type: none;
    line-height: 0.5;
}
#footer_wrap{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #808080;
    width: 100%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
#footer_text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 15px;
    word-break: normal;
    max-width:250px;
}
#link_text{
    color: #57a5ff;
}
#nav_active{
    color: #57a5ff;
    list-style-type: none;
}
#subpage_info_wrap{
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
    margin-top: 40px;
    justify-content: space-evenly;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #57a5ff;
}
#subpage_info_text{
    word-break: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-indent: 25px;
    margin: 0  auto;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 2%;
}
#nat1_img {
    background: url("../images/Gal.jpg") center no-repeat;
    width:500px;
    height:400px;
}
#nat2_img {
    background: url("../images/Sog.jpg") center no-repeat;
    width:500px;
    height:400px;
}
#his1_img {
    background: url("../images/Goth.png") center no-repeat;
    width:600px;
    height:600px;
}
#his2_img {
    background: url("../images/vik.jpg") center no-repeat;
    width:600px;
    height:600px;
}
#tour1_img {
    background: url("../images/dost.jpg") center no-repeat;
    width:600px;
    height:600px;
}
#tour2_img {
    background: url("../images/flags.jpg") center no-repeat;
    width:600px;
    height:600px;
}
#trad1_img {
    background: url("../images/Mjollnir.png") center no-repeat;
    width:600px;
    height:600px;
}
#trad2_img {
    background: url("../images/runes.jpg") center no-repeat;
    width:600px;
    height:600px;
}
div.top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 0.6s linear;
}
#topimg{
    background: url("../images/top1.png") center no-repeat;
    width:100px;
    height:100px;
}